@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-Primary: #003f66;
  --color-PrimaryDark: #0e1140;
  --color-PrimaryLight: #094173;
  --color-White: #f2f2f2;
  --color-Secondary: #00b4d8;
  --color-Accent: #ff9f1c;
}

/* Color Fream 2 */
/* @theme {
  --color-Primary: rgb(3, 85, 136);
  --color-Secondary: #001e2b;
  --color-Accent: #fcbf49;
} */
